body {
    font-family: 'Montserrat';
}

.logo-image {
    width: 50px;
}

#title {
    background-color: #ff4c68;
    color: #ffffff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.7rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* Buttons */

.contact-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 600px;
}

/* Features Section */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #ffffff ;
}

.estimonials-image {
    width: 10%;
    margin: 20px;
}

#products {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.products-image {
    width: 30%;
    margin: 20px 20px 50px ;
}